/*===========================
  theme: Green Fun
============================ */

/* Green */


a ,
.glyphicon,
.navbar-brand span,
.navbar-custom .nav li a:hover,
.navbar-custom .nav li.active ,
.navbar-custom .nav > .active > a ,
.navbar-brand:hover,
.navbar-brand:focus ,
#gallery .nav > li > a:hover ,
.light-btn .btn:before,
.light-btn .btn:hover,
.light-btn .btn:focus,
.team span ,
#offers span{ 
	/*color:#567E32;*/
	color:#71BF44;
}



.spinner > div ,
.top-bar ,
.navbar-toggle ,
.nav-pills>li>a:hover ,
#stats ,
#testimonials ,
#call-to-action,
#offers,
footer ,
.btn:before ,
.social-media a:hover ,
.pricing-tables .pricing-table.highlight-plan .plan-name {
	/*background-color: #567E32;*/
	background-color: #71BF44;
}


/* Ligt Green */


a:hover,
a:focus ,
hr ,
.hr ,
.navbar-custom .nav li a:focus,
.slider-pagi__elem ,
.box > .icon > .image,
#gallery .nav > li > a:focus {
	/*color: #31B767;*/
	color: #67B03D;
}


.hr:before ,
ul.social-list li a:hover ,
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus ,
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus ,
.nav-pills .nav > li > a:hover ,
.btn-default ,
.btn-default:hover ,
.btn-default:focus ,
.box > .icon:hover > .image,
.gallery-thumb .overlay-mask,
.owl-prev:hover, .owl-next:hover ,
.back-to-top i:hover {
	/*background-color: #31B767;*/
	background-color: #67B03D;
}

#contact .form-control:focus {
	/*box-shadow:0 4px 0px #31B767;*/
	box-shadow:0 4px 0px #67B03D;
}

.nav-pills> li.active:after {
	/*border-top-color: #31B767;*/
	border-top-color: #67B03D;
}

.tooltip-inner {
  /*background-color: #31B767;*/
  background-color: #67B03D;
}
.tooltip.top .tooltip-arrow {
  /*border-top-color: #31B767;*/
  border-top-color: #67B03D;
}