/*******label*******/
.label_admin {
	padding: .1em .3em .1em;
	/*
	  01/03/2016 /Maricela Cordova
	  Se agrega estilo a los label segun nuevo diseño.
	*/
	font-size: 25px;
	font-family: 'nunito',sans-serif;
	font-weight: 400;
	color:#333
}

/*******ajaxStatus*******/
.ajax-status {
	z-index: 1018;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.ajax-status td {
	text-align: center;
	vertical-align: middle;
}

/*********justificacion**********/
#contact p, #pane2 p, #adoption p, #pane1 .col-lg-7 p {
	text-align: justify;
}

/*********mapa***********/
.mapa-oficina {
	padding: 120px 0 120px 0;
}

/******error page********/
.error-content {
	padding: 120px 30px;
}
.error-content h1 {
	border-bottom: 5px solid;
	line-height: 45px;
}
.error-content .list {
	padding: 20px;
}
/********mensaje********/
.ui-message-error {
    color: red !important;
    background-color: transparent !important;
    border-color: transparent !important;
    border: none !important;
		margin: 0px !important;
		padding: 0px !important;
}
/********precios*********/
.pricing-table .plan-list .price-value {
    font-size: 18px;
    font-weight: 700;
}
.pricing-table .plan-list .price-value span {
    font-size: 12px;
    font-weight: 300;
}
/********estadisticas********/
.alinear * {
	display: inline-block;
}
/*********ancho planes************/
@media (min-width: 992px) {
	.col-md-3-plan {
    width: 50% !important;
  }
}
/*************logo*************/
/* max width 365px */
@media (max-width: 365px) {
	.navbar-brand {max-width: 80%;}
}
/************otras paginas*************/
.blog-top {
	padding: 200px 0px 120px;
}
.blog-grid3 {
	padding-bottom: 100px;
}
/**************contenedor****************/
@media (min-width: 1200px) {
  .container {
    width: 1190px !important;
  }
}
/**************pie de pagina***************/
@media (min-width: 992px) {
	.col-md-3-pie {
    width: 36% !important;
  }
  .col-md-offset-5-pie {
    margin-left: 30% !important;
  }
}
/**************contactos*****************/
.form-control {
  height: 40px !important;
}
/***************menu****************/
.navbar-brand {
  padding: 4px 4px !important;
}
/*************contenedor***************/
.col-md-9 {
    margin: auto;
    float: none;
}
