/*******label*******/
.label_admin {
	padding: .1em .3em .1em;
	/*
	  01/03/2016 /Maricela Cordova
	  Se agrega estilo a los label segun nuevo diseño.
	*/
	font-size: 25px;
	font-family: 'nunito',sans-serif;
	font-weight: 400;
	color:#333
}

/*******ajaxStatus*******/
.ajax-status {
	z-index: 1018;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.ajax-status td {
	text-align: center;
	vertical-align: middle;
}

/*********justificacion**********/
#contact p, #pane2 p, #adoption p, #pane1 .col-lg-7 p {
	text-align: justify;
}
/*********mapa***********/
.mapa-oficina {
	padding: 120px 0 120px 0;
}

/******error page********/
.error-content {
	padding: 120px 30px;
}
.error-content h1 {
	border-bottom: 5px solid;
	line-height: 45px;
}
.error-content .list {
	padding: 20px;
}
/********mensaje********/
.ui-message-error {
    color: red !important;
    background-color: transparent !important;
    border-color: transparent !important;
    border: none !important;
		margin: 0px !important;
		padding: 0px !important;
}
/**********planes*************/
.pricing-table .plan-list .price-value {
    font-size: 18px;
    font-weight: 700;
}
.pricing-table .plan-list .price-value span {
    font-size: 12px;
    font-weight: 300;
}
.section-heading-plan {
	margin-bottom:50px;
	text-align:center;
}
.section-intro {
	margin-bottom:50px;
}
/* max width 991px */
@media (max-width: 991px) {
	.section-intro {margin-bottom: 3rem;}/*7*/
	.section-heading-plan {margin-bottom: 3rem;}
}
/* max width 480px */
@media (max-width: 480px) {
	.section-intro {margin-bottom: 1em;}/*3*/
	.section-heading-plan{margin-bottom:1em;}
}
/********estadisticas********/
.alinear * {
	display: inline-block;
}
/*********ancho planes************/
@media (min-width: 992px) {
	.col-md-3-plan {
    width: 50% !important;
  }
}
/*************logo*************/
/* max width 365px */
@media (max-width: 365px) {
	.navbar-brand {max-width: 80%;}
}
/************otras paginas*************/
.blog-top {
	padding: 150px 0px 120px;
}
.blog-grid3 {
	padding-bottom: 100px;
}
.blog-header {
	text-align: center;
	padding: 50px 0px 30px;
}
/* max width 991px */
@media (max-width: 991px) {
	/* Space between sections */
	.blog-top {padding: 100px 0px 60px;}
}
.grupo-admin {
	padding-bottom: 15px;
}

/**************contenedor****************/
@media (min-width: 1200px) {
  .container {
    width: 1190px !important;
  }
}
.col-md-9 {
    margin: auto;
    float: none;
}
/**************pie de pagina***************/
@media (min-width: 992px) {
	.col-md-3-pie {
    width: 36% !important;
  }
  .col-md-offset-5-pie {
    margin-left: 30% !important;
  }
}
/**************contactos*****************/
.form-control {
  height: 40px !important;
}
/***************menu****************/
.navbar-brand {
  padding: 4px 4px !important;
}
/************seccion botones*************/
.pricing-table .plan-price .price-value {
	padding-bottom: 5px;
}
/************float***************/
.clean {
	clear: both;
}
/**************primefaces***************/
.ui-widget {
	font-family: 'nunito',sans-serif;
	font-weight: 300;
	-webkit-text-size-adjust: 100%; 
	-webkit-font-smoothing: antialiased;
}
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
	font-family: 'nunito',sans-serif !important;
	font-size: 15px !important;
	
}
/*.ui-inputfield {
	box-shadow: none;
	border-radius: 0;
	border: 1px solid #d6e9c6;
}*/
/*.ui-inputfield.ui-state-focus {
	box-shadow: none;
}*/
/*.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
    border: none;
    background: #71BF44;
}*/

/********************datagrid*********************/
.ui-datagrid .ui-widget-content {
    border: none;
    background: none;
}
.ui-datagrid .ui-widget-header {
    border: none;
    background: none;
}
.ui-datagrid .ui-widget-content a {
    /*color: #67B03D;*/
    color: #fff;
}
/********************datepicker*********************/
.ui-datepicker .ui-widget-header {
	color: #333;
}
/*****************login****************/
/*.login-form a {
	color:#71BF44 !important;
}
.login-form a:hover {
	color: #67B03D !important;
}*/

#form-login .blog-grid3 {
	float: none;
	margin: 0 auto;
}
#form-login .section-heading {
	margin-bottom: 50px;
}
#form-login .panel {
  border: 1px solid #d6e9c6;
  margin-bottom: 1em !important;
}
#form-login .panel-heading {
	background-color: #dff0d8;
	padding: 10px 15px;
	text-align: center;
}
#form-login .panel-body {
  padding: 0px 15px 20px;
}
#form-login .form-group {
	margin-bottom: 0px;
}
#form-login label {
	color: #3c763d;
  margin-top: 10px;
}
#form-login input{
	/*box-shadow: none;
	border-radius: 0;
	border: 1px solid #d6e9c6;*/
	width: 100%;
}
#form-login a{
	font-size: 0.9em;
}
/******************consulta general homenajes*******************/
#form-mascotashomenaje .blog-search {
	padding-bottom: 60px;
}
#form-mascotashomenaje .section-heading {
  margin-bottom: 60px;
}
#form-mascotashomenaje .blog-search .btn-find {
	background-image: url("#{resource['img/blog-search.png']}") !important;
}
#form-mascotashomenaje .blog-search .ui-button span {
    width: 25px;
    height: 25px;
}
#form-mascotashomenaje .blog-search button {
	border: none !important;
	background: none !important;
}
/*******************admin de homenajes*****************/
.ui-datagrid-column .ribbon {
	right: 10px;
}